@import "fonts.css";
/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color:#f2f2f2;
}

.list-reset{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #eee;
}
/* Utils */
.container{
    margin: 0 auto;
    max-width: 1240px;
}
.d-flex{
    display: flex;
}
.fd-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.button{
    display: flex;
    align-items: center;
    background:#f50;
    padding: 0.3rem 1.5rem;
    border: 0.1rem solid #f50;
    cursor: pointer;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    width: max-content;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    text-shadow: none;
}

/* Normal Stuff */
header{
    background: #f50 url("/images/landing.jpg") 50% 0.4rem/cover no-repeat;
    padding-top: 0.4rem;
    height: 450px;
    display: flex;
    flex-direction: column;

}
.header-inner{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 6rem;
    background: rgb(9,86,121);
    background: linear-gradient(0deg, rgba(9,86,121,0) 0%, rgba(33,33,33,0.5) 86%);
}
/* .header-right{

} */
.header-buttons{
    display: flex;
    flex-direction: row;
    gap:1rem;
    flex-wrap: wrap;
}
.signin-button{
    background:transparent;
    border-color: #ccc;
}
/* .signup-button{

} */
.creators-button{
    background: transparent;
    border-color: transparent;
}
/* .header-left{

} */
.logo-left{
    display: flex;
    flex-wrap: nowrap;
}
.header-middle{
    flex-grow: 1;
}
.hero{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
}
.hero p {
    max-width: 50%;
    font-size: 1.8rem;
    
}
.hero h1{
    font-size: 3.6rem;
    font-weight: 100;
}
.hero .button{
    height: 4.6rem;
    line-height: 4.6rem;
    min-width: 21rem;
    font-size: 1.8rem;
}

footer{
    border-top: 1px #c7c7c7 solid;
    width: 98%;
    color: #c7c7c7;
    font-size: 1.2rem;
}
footer a{
    color: #c7c7c7;
}
footer a:hover{
    color: #b5b5b5;
}

.search-field form input{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 13rem;
    background-color: #f2f2f2;
    background-image: url(/images/search.svg);
    background-position: 73rem 1.5rem; 
    background-repeat: no-repeat;
    outline: none;
    height: 4.6rem;
    border-radius: .5rem;
    width: 75rem;
    padding-left: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border: none;
    color: #bbbbbb;
    /* definig searchbox */
}
.after-searchbox{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.6rem;
    color: black;
    /* defining text & buttons after searchbox */
}
.after-searchbox p{
    margin-left: 2rem;
}
.upload-button{
    height: 4.6rem;
    line-height: 3.6rem;
    min-width: 21rem;
    font-size: 1.8rem;
}
/* trending section */
.trending{
    color: #000;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.4rem;
    font-weight: 100;
}
