@import "style.css";
/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.container{
    margin: 0 auto;
    max-width: 1240px;
}
.d-flex{
    display: flex;
}
.box-top{
    width: 150px;
    height: 150px;
    background-image: url("/images/song-200x200.jpg");
}